#artist-store{
  .banner{
    border-radius:4px;
    overflow:hidden;
    border:1px solid $border_light;
    position: relative;
    height:330px;
    margin-bottom:2rem;
    display:grid;
    align-items: center;
    justify-items: center;
    background-size:cover!important;
    background-position: center!important;

    .banner-text{
      position: absolute;
      bottom:0;
      left:0;
      padding:1rem 2rem;
      background:rgba(0,0,0,0.5);
      color:$text_light;
      font-size:22px;
    }
  }
}