
#welcome-container{
  display:table;
  top:0;
  bottom:0;
  right:0;
  left:0;
  width:100%;
  height:100%;
  position: absolute;

  #welcome-container-child{
    display:table-cell;
    vertical-align: middle;
    text-align: center;

    #title{
      color:$blue;
    }
  }

}