#welcome{
  margin-top:-20px;

  #artist-store-sampler{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .artist{
      background:$white;
      border-radius:4px;
      overflow:hidden;
      display:inline-block;
      width:200px;
      height:200px;
      margin:15px;
      opacity:1;
      transition: all 0.25s;
      position: relative;

      img{
        width:100%;
      }

      .artist-name{
        opacity:0;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        color: $white;
        background: rgba(0,0,0,0.7);
        margin: 0;
        padding: 7px;
        transition: all 0.25s;
        font-size: 12px;
      }
    }

    a:hover{
      .artist{
        opacity:0.7;
        transition: all 0.25s;
        border-radius:0;

        .artist-name{
          opacity:0.7;
          transition: all 0.25s;
        }
      }
    }


  }

  #welcome-banner{
    height:calc(100vh - 50px);
    margin-bottom:60px;
    background:$blue;
    color:$text_light;
    position: relative;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow-y:auto;

    #welcome-container{
      display:table;
      position: relative;
      top:0;
      bottom:0;
      right:0;
      left:0;
      width:100%;
      height:100%;
      z-index: 10;

      #welcome-container-child{
        display:table-cell;
        vertical-align: middle;
        text-align: center;

        #welcome-container-child-container{
          padding:15px;
          background:rgba($blue,0.7);
          display: inline-block;
          border: 1px solid $white;

          h1,h3{
            margin:0;
          }

          h3{
            font-weight: 300;
          }

          #title{
            font-weight: 500;
            margin-bottom:15px;
          }

          #store-sampler{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: auto;
            grid-gap: 3px;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            overflow-y: hidden;
            opacity: 0.60;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            justify-items: center;
            z-index: -1;
            transform: translateX(-50%) translateY(-50%);

            .product{
              background:$white;
              border-radius:4px;
              overflow:hidden;
              opacity:1;
              transition: all 0.25s;
              position: relative;

              img{
                width:100%;
              }

              &:hover{
                opacity:0.7;
              }
            }
          }
        }


      }

      #welcome-container-arrow{
        position:absolute;
        bottom:0;
        left:0;
        right:0;
        color:$white;
        text-align: center;

        p{
          font-size:24px;
          font-weight: 300;
        }

        .fa-chevron-down{
          font-size: 80px;
        }
      }

    }
  }

  .container{
    > .row{
      margin-bottom:60px;

      h2{
        margin-top:0;
      }
    }
  }

  .community-features{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:15px;

    .jumbotron{
      height:100%;

      svg{
        font-size:36px;
        vertical-align: top;
        margin-right: 15px;
      }
    }
  }

  .col-md-3{
    > svg{
      width:100%;
      height:100%;
      color:$blue;
    }
  }

  #roadmap-wrap{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:15px;

    .roadmap-item{
      margin-bottom:0;
    }
  }
}


