#add-avatar{
  #avatar{
    overflow:hidden;
    border:1px solid $border_light;
    position: relative;
    height:128px;
    width:128px;
    border-radius:15px;
    padding:2rem;
    margin-bottom:2rem;
    display:grid;
    align-items: center;
    justify-items: center;
    text-align: center;

    p{
      margin:0;
    }

    img{
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      background:$background;
    }
  }
}