#add-banner{
  #banner{
    overflow:hidden;
    border:1px solid $border_light;
    position: relative;
    height:250px;
    margin-bottom:2rem;
    display:grid;
    align-items: center;
    justify-items: center;
    background-size:cover!important;
    background-position: center!important;

    p{
      margin:0;
    }
  }
}