#add-avatar{
  #avatar{
    overflow:hidden;
    border:1px solid $border_light;
    position: relative;
    height:128px;
    width:128px;
    border-radius:15px;
    margin-bottom:2rem;
    display:grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    background-size:cover!important;
    background-position: center!important;

    p{
      margin:0;
    }
  }
}