#cart{
  #cart-table{

  }


}

#cart-total{
  display: inline-block;
  align-items: center;

  tbody{
    float:right;
  }

  td{
    text-align: right;
  }

  #cart-total-total{
    color:$blue;
  }
}