@mixin noselect() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin BlueGradient() {
  background: linear-gradient(135deg, #0067d6, #007bff, #429dff, #5aa8fc);
}