
// Structure Variables
$navbar_app_height:70px;
$app_bottom_margin: 50px;
$footer_height:175px;
$app_margin: $navbar_app_height + $footer_height + $app_bottom_margin;

// Styling Variables
$text_light: #fff;
$white: #fff;

$background: #F4F9FF;

$blue_lighter_3: #84BFFF;
$blue_lighter_2: #5AA8FC;
$blue_lighter_1: #429DFF;
$blue: #007BFF;


$blue_hover: #0067D6;

$border_light: #ddd;