
// Fonts
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700");

// Variables
@import "variables";

// Mixings
@import "mixins";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Structure
@import "layout/navbar";
@import "layout/internal_menu";

// Page Imports
@import "pages/welcome";

body{
  font-family: 'Ubuntu', sans-serif;
  background-color: $background;
}

#app{
}



summary{
  @include noselect;
  &:hover{
    cursor:pointer;
  }
}