#ticket-checkin{
  background:#90DFAA;
  position: absolute;
  bottom: 0;
  top: 0;
  overflow-y: auto;
  left:0;
  right:0;
  color:$white;

  &.error{
    background:#FD8469;
  }

  #ticket-checking-failure-title{
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 55px;
  }

  svg{
    width: 100%;
    margin-top: 15px;
    margin-bottom:15px;
    height: auto;
    max-width: 300px;
    border: 6px solid white;
    border-radius: 50%;
  }

  #ticket-checkin-attendee{
    h3{
      margin:0;
      font-weight: 300;
    }
  }

  #ticket-checkin-total{
    position: fixed;
    bottom: 15px;
    right: 15px;
    background:$blue;
    width: 64px;
    height: 64px;
    display: grid;
    align-items: center;
    border-radius: 50%;
    font-size: 32px;
    font-weight: 300;
    border:2px solid $white;
  }
}