@media screen and (max-width:1200px){
  #artist-store #artist-store-all-products,
  #search_results_wrapper #search_results{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #artist-store #artist-store-recent-additions .artist-store-recent-addition .product-image{
    width: 160px;
    height: 160px;
  }

  #storefront #recently_added_products{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #welcome #roadmap-wrap{
    grid-template-columns: 1fr 1fr;

    .roadmap-item:last-child{
      grid-column: 1 / 3;
    }
  }

  #storefront-ticket-page #ticket #ticket-banner{
    min-height: 200px;
  }

  #buy-ticket #ticket-banner #ticket-banner-image{
    transform: translateX(-50%) translateY(-50%) scale(1.3);
  }

  #welcome #welcome-banner #welcome-container #welcome-container-child #welcome-container-child-container #store-sampler{
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
  }
}