@media screen and (max-width:450px){
  #artist-store #artist-store-all-products,
  #search_results_wrapper #search_results{
    grid-template-columns: 1fr;
  }

  #artist-store #artist-store-recent-additions{
    grid-template-columns: 1fr;

    .artist-store-recent-addition:nth-child(3){
      display:block;
    }
  }

  #artist-store #artist-store-all-products .artist-store-product .product-image{
    width:160px;
    height:160px;
  }

  #storefront #recently_added_products{
    grid-template-columns: 1fr;
  }

  #buy-ticket #ticket-banner h1,
  #ticket #ticket-banner h1{
    font-size: 26px;
  }

  #welcome #artist-store-sampler .artist{
    width: 120px;
    height: 120px;
    margin: 5px;
  }
}

