@media screen and (max-width:600px){
  #artist-store #artist-store-all-products{
    grid-template-columns: 1fr 1fr;
  }

  #artist-store #artist-store-recent-additions{
    grid-template-columns: 1fr 1fr;

    .artist-store-recent-addition:nth-child(3){
      display:none;
    }
  }

  #artist-product #artist-product-items .artist-product-item{
    grid-template-rows: 1fr 1fr;
    grid-gap:0 2rem;
    grid-template-columns: auto 1fr;
    grid-template-areas: "order name""sample sample";

    .order{
      grid-area:order;
    }

    .name{
      grid-area:name;
    }

    .sample{
      grid-area:sample;
    }
  }

  #preamble-text{
    column-count:1;
  }
}
