@media screen and (max-width:767px){
  #artist-product{
    .banner{
      display:none;
    }
  }

  #artist-product #artist-product-description{
    display:none;
  }

  #create-product #create-product-form #genre_select_list,
  #product #genre_select_list{
    grid-template-columns: 1fr 1fr;
  }

  #create-product #create-product-form #genre_select_list li:nth-child(n+5),
  #product #genre_select_list li:nth-child(n+5){
    display: none;
  }

  #storefront #recently_added_products{
    grid-template-columns: 1fr 1fr;
  }

  #storefront #search_and_cart{
    grid-template-columns: 1fr;
    height:auto;
  }

  #storefront #search_and_cart form input{
    height:40px;
  }

  #welcome #welcome-content #double_action{
    grid-template-columns: 1fr;
  }

  #welcome #welcome-content #double_action .double_action_item > div{
    text-align: center;
  }

  #tickets #ticket-store-requirements,
  #store_products #store-live-requirements{
    grid-template-columns: 1fr;
  }

  #welcome #roadmap-wrap{
    grid-template-columns: 1fr;

    .roadmap-item:last-child{
      grid-column: 1 / 2;
    }
  }

  #all-tickets #store_tickets_clickthrough{
    grid-template-columns: 1fr;
  }

  #all-tickets #store_tickets_clickthrough > a div{
    height:100px;
  }

  #storefront-ticket-page #ticket #ticket-banner #ticket-banner-image{
    width:auto;
  }
}