@media screen and (max-width:800px){
  #artist-store #artist-store-all-products{
    grid-template-columns: 1fr 1fr 1fr;
  }

  #artist-store #artist-store-recent-additions .artist-store-recent-addition .product-image .product-image-item-price,
  #artist-store #artist-store-recent-additions .artist-store-recent-addition .product-image .product-image-item-count,
  #artist-store #artist-store-all-products .artist-store-product .product-image .product-image-item-count,
  #artist-store #artist-store-all-products .artist-store-product .product-image .product-image-item-price{
    opacity:1
  }

  #artist-product #artist-product-items .artist-product-item{
    grid-template-columns: auto 1fr 200px;
  }
}