@media screen and (max-width:992px) {
  #artist-product {
    #artist-product-columns{
      display:grid;
      grid-template-areas: "right""left" ;
      grid-template-columns: 1fr;

      #artist-product-left-column{
        grid-area: left;
      }

      #artist-product-right-column{
        grid-area: right;

        .is_product_in_cart{
          max-width:300px;
          margin:auto;
          margin-bottom:20px;
        }
      }
    }

    #product-image {
      max-width: 200px;
      margin: auto;
      margin-bottom: 20px;
    }
  }

  #storefront #recently_added_products{
    grid-template-columns: 1fr 1fr 1fr;
  }

  #footer{
    text-align: center;
  }

  #preamble-text{
    column-count:2;
    column-gap:30px;
  }

  #register #register-sample-artists #register-sample-artists-list{
    grid-template-columns: 1fr 1fr 1fr;
  }

  #register #register-sample-artists #register-sample-artists-list .artist{
    max-width:150px;
    margin:auto;
  }

  #register #register-form-name #register-form-first-name{
    margin-right:-15px;
  }

  #register #register-form-name #register-form-last-name{
    margin-left:-15px;
  }

  #welcome .community-features{
    grid-template-columns: 1fr;
  }

  #storefront-ticket-page #ticket #ticket-banner{
    min-height: 160px;
  }

  #buy-ticket #ticket-content #ticket-counter #ticket-map{
    margin-top:15px;
  }


  #buy-ticket #ticket-banner #ticket-banner-image,
  #ticket #ticket-banner #ticket-banner-image{
    transform: translateX(-50%) translateY(-50%) scale(1.3);
  }

  #buy-ticket #ticket-banner,
  #ticket #ticket-banner{
    min-height: 175px;
  }

  #welcome #welcome-banner #welcome-container #welcome-container-child #welcome-container-child-container #store-sampler{
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
  }

  #welcome #artist-store-sampler .artist{
    width:140px;
    height:140px;
  }

}