#artist-product{
  .banner{
    border-radius:4px;
    overflow:hidden;
    border:1px solid $border_light;
    position: relative;
    height:330px;
    margin-bottom:2rem;
    display:grid;
    align-items: center;
    justify-items: center;
    background-size:cover!important;
    background-position: center!important;

    .banner-text{
      position: absolute;
      bottom:0;
      left:0;
      padding:1rem 2rem;
      background:rgba(0,0,0,0.5);
      color:$text_light;
      font-size:22px;
    }
  }

  #product-image{
    img{
      width:100%;
      display:block;
      border:1px solid $border_light;
      border-radius:4px;
    }
  }

  #artist-product-price{
    #amount_display{
      height:30px;
      margin-top:1rem;
      margin-bottom:1rem;

      input{
        height:100%;
        width:100%;
      }

      .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
        height:40px;
      }

      .ui-slider-horizontal .ui-slider-handle{
        margin-top:-6px;
      }

      .ui-slider-range{
        @include BlueGradient()
      }

      .ui-state-active{
        background:$blue;
      }

    }
  }

  #artist-product-items{
    .artist-product-item{
      display:grid;
      grid-template-columns: auto 1fr 300px;
      align-items: center;
      grid-gap:2rem;

      .order{
        font-weight: bold;
        color:$blue;
      }

      .sample{
        display: grid;
        align-items: center;

        audio{
          width:100%;
        }
      }
    }
  }

  #artist-product-other-products{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:15px;
    padding:15px;

    #artist-product-other-products-more-from{
      margin:0;
      text-align: center;
    }

    .other-product{

      .other-product-image{
        border:1px solid $border_light;
        border-radius:4px 4px 0 0;
        height:230px;
        width:100%;
        background-size:cover!important;
        background-position: center!important;
        position: relative;

        .other-product-price{
          opacity:0;
          transition:opacity 0.2s;
          position: absolute;
          bottom:0;
          left:0;
          padding:1rem 2rem;
          background:rgba(0,0,0,0.5);
          color:$text_light;
          border-radius:0 4px 0 4px;
          font-size:13px;
        }



        &:hover{
          .other-product-name,.other-product-price{
            opacity:1;
          }
        }
      }

      .other-product-name{
        text-align: center;
        font-size:16px;
        font-weight: 300;
        margin-top:5px;
      }


    }
  }
}